**/__pycache__/
.idea/
*.DS_Store
venv/
dist/
build/
src/nymphes_osc/config.txt
nymphes_osc.egg-info/
scratch.py
curr_preset.txt
src/nymphes_osc/logs/
src/nymphes_midi/logs/
src/nymphes_midi/presets/
